body{background-color: #FFFFEF;color:#4A4B69;font-family: 'Roboto', sans-serif;}
a{text-decoration: none;color:white;}
a:hover{opacity:0.7;}
/* .light_green_bg{border-left:8px solid #C7EDB6;}
.green_bg{border-left:8px solid #8DDA70;}
.yellow_bg{border-left:8px solid #FFE849;}
.orange_bg{border-left:8px solid #FFB062;}
.red_bg{border-left:8px solid #FF7E7C;}
.dark_red_bg{border-left:8px solid #BF5F5D;}
.darkdark_red_bg{border-left:8px solid #592322;} */

.bg_green, ._green{background-color: #8DDA70;}
.bg_yellow, ._yellow{background-color: #FFE849;}
._orange{background-color: #FFB062;}
._red{background-color: #FF7E7C;}

.bg_salmon{background-color: #FF7E7C;}
.bg_blue{background-color: #5369E9;}
.bg_lightGrey{background-color: #9293A5;}

/* ._green{color:#8DDA70;}
._yellow{color:#FFE849;}
._orange{color:#FFB062;}
._red{color:#FF7E7C;} */

.key_circle{width:28px; height:28px; border-radius: 50%;display:inline-block; margin-right: 8px;position: relative; top:8px;}

.inner_wrapper{padding:0 16px;}
.footer_source{text-align: center;}
input[type="text"], select{display: block; border-style: none; border-bottom:3px solid rgba(0,0,0,0.3);width:90%;height:90px; margin:32px auto;font-size: 24px;background: transparent;outline: none;}
input[type="submit"], input[type="button"]{
  border-style: none;
  border-radius:5px;
  box-shadow: 2px 4px 8px rgba(0,0,0,0.3);
  padding:16px 24px;
  margin:8px;
  font-size: 24px;
  font-weight:bold;
  color:#fff;
  cursor: pointer;
  outline: none;
}
.logo_container{text-align: center;width:70%;margin:72px auto;}
.logo_container img{width:100%;height: auto;}
.button_container{text-align: center;}
.main_section_wrapper h1{text-align: center;}
.btn_search{background-color: #5369E9;}
.btn_clean{background-color: #9293A5;}

.results_section{width: 100%;margin:34px auto;}
.results_section .inner_wrapper{padding:16px;flex-shrink: 0;width:80%;margin:24px auto;}
.localidad_name{text-transform: capitalize;margin-top:0;color:#5369E9;}
.status_alert{border-top:1px solid #9293A5;border-bottom:1px solid #9293A5; margin-top:24px;margin:32px auto;}
.localidad_estatus_box{max-width: 480px;margin:0 auto;}
.localidad_estatus_box h2{text-align: center;font-size: 30px;}
.localidad_estatus_box h3{text-align: center;color:#5369E9;font-size: 22px;font-weight: 300;margin-bottom:8px;}
.localidad_estatus_box p{font-size: 40px;padding:0 4px;color:#4A4B69;margin:0;}
.localidad_estatus_box ul{margin:25px auto;padding-left: 20px;}
.localidad_estatus_box ul li{font-size: 18px;margin-bottom: 8px;}


.result_list{list-style: none; padding:0;margin:0;}
.result_list li{margin:8px 0;font-size: 22px;}
.result_list li span strong{font-size: 32px;}

.no-suggestions{width:70%;margin:24px auto;text-align: center;}
.suggestion_list{list-style: none;padding: 0;width:70%;margin:0 auto;display: flex;flex-wrap: wrap;}
.suggestion_list li{background-color: #FFDC75; padding:8px; margin:8px;text-align: center;box-shadow: 2px 4px 8px rgba(0,0,0,0.3);font-weight: bold;border-radius: 5px;}

.btn_returnNT{background-color:#5369E9;padding:4px 8px;border-radius: 5px;width:200px;text-align: center;color:white;margin:40px auto;}

@media only screen and (min-width:768px){
  .flex_wrapper{display:flex;flex-direction:row;flex-wrap: nowrap;justify-content: space-around;align-items: flex-start;}
  .results_section{width:90%;}
  .results_section .inner_wrapper{width:calc(100% / 2.3 - 24px);}
}

@media only screen and (min-width:1024px){
  input[type="text"], select, .results_section{width:70%;}
  .logo_container{width:50%;max-width: 480px;}
}
