body{background-color: #F2F2F2;color:#606060;}
.inner_wrapper{padding:0 16px;}
input[type="text"]{display: block; border-style: none; border-bottom:3px solid rgba(0,0,0,0.3);width:70%;height:90px; margin:32px auto;font-size: 24px;background: transparent;outline: none;}
input[type="submit"], input[type="button"]{
  border-style: none;
  border-radius:5px;
  border:1px solid rgba(0,0,0,0.3);
  box-shadow: 2px 4px 8px rgba(0,0,0,0.3);
  padding:16px 24px;
  margin:8px;
  font-size: 24px;
  font-weight:bold;
  color:#525252;
  cursor: pointer;
  outline: none;
}
.button_container{text-align: center;}
.main_section_wrapper h1{text-align: center;}
.btn_search{background-color: #43D9AE;}
.btn_clean{background-color: #b0efed;}

.flex_wrapper{display:flex;flex-direction:row;flex-wrap: nowrap;justify-content: center;align-items: flex-start;}
.localidad_name{text-transform: capitalize;}
.result_list{list-style: none; padding:0;margin:0;}
.result_list li{margin:8px 0;}
